<table>
  <tr class='hascontextmenu'>
    <td><%=t('activerecord.attributes.key.name')%></td>
    <td><%=t('activerecord.attributes.key.login')%></td>
    <td><%=t('activerecord.attributes.key.body')%></td>
  </tr>
  <tr>
    <td><%= key.name %></td>
    <td><%= key.login %></td>
    <td><label id='plain_pass'><%= key.body %></label></td>
  </tr>
</table>
