<%= form_for key, url: { controller: :keys, action: action } do |f| %>
  <div class='box tabular'>
  <p><%= f.label :name, t('field_name') %>
  <% if User.current.allowed_to?(:edit_keys, @project) %>
    <%= f.text_field :name %></p>
  <% else %>
    <%= f.text_field :name,:readonly => true %></p>
  <% end %>

  <p><%= f.label :login, t('field_login') %>
  <% if User.current.allowed_to?(:edit_keys, @project) %>
    <%= f.text_field :login %></p>
  <% else %>
    <%= f.text_field :login,:readonly => true %></p>
  <% end %>

  <p><%= f.label :url, t('field_url') %>
  <% if User.current.allowed_to?(:edit_keys, @project) %>
    <%= f.text_field :url %></p>
  <% else %>
    <%= f.text_field :url,:readonly => true %></p>
  <% end %>

  <p><%= f.label :type %>
  <%= f.select :type, key_types %></p>

  <p><%= f.label :body, t('activerecord.attributes.key.body') %>
  <% if User.current.allowed_to?(:edit_keys, @project) %>
    <%= f.text_field :body %></p>
  <% else %>
    <%= f.text_field :body,:readonly => true %></p>
  <% end %>

  <p><%= f.label :tags, t('activerecord.models.tags') %>
  <%= f.text_field :tags, value: Vault::Tag.tags_to_string(key.tags), class: 'autocomplete' %></p>

  <p><%= f.label :file, t('activerecord.models.key_file') %>
  <% if User.current.allowed_to?(:edit_keys, @project) %>
    <%= f.file_field :file %></p>
  <% else %>
    <%= f.file_field :file,:readonly => true %></p>
  <% end %>

  <p><%= f.label :comment, t('field_comments') %>
  <% if User.current.allowed_to?(:edit_keys, @project) %>
    <%= f.text_area :comment, class: 'wiki-edit' %></p>
  <% else %>
    <%= f.text_area :comment, class: 'wiki-edit',:readonly => true %></p>
  <% end %>
  </div>

  <% if User.current.allowed_to?(:edit_keys, @project) %>
    <%= f.submit t('button_save') %>
  <% else %>
    
  <% end %>

<% end %>
