<% content_for :header_tags do %>
  <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
  <%= javascript_include_tag 'vault', :plugin => 'vault' %>
<% end %>

<div class="contextual">
  <%= link_to sprite_icon('watch', t('button_view')), project_key_path(@project, @key), class: 'icon icon-watch' %>
</div>

<h2><%= t('key.title.edit') %></h2>

<%= render partial: 'form', locals: { key: @key, action: :update } %>
