<% html_title(t('label_module')) %>

<h2><%= t('key.btn.move') %></h2>

<%= form_with(model: @key, local: true, url: update_orphaned_key_path(@key), method: :patch) do |form| %>
  <% if @key.errors.any? %>
    <div id="error_explanation" class="error">
      <ul>
        <% @key.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="box">
    <legend><%= @key.name %> (Type: <%= t("activerecord.models.#{@key.type.underscore.split('/').last}") %>)</legend>

    <div class="field">
      <label for="project_id"><%= t('label_project') %> <span class="required">*</span></label>
      <select name="project_id" id="project_id" required>
        <option value=""></option>
        <% @projects.each do |project| %>
          <option value="<%= project.id %>"><%= project.name %></option>
        <% end %>
      </select>
    </div>
  </fieldset>

  <div class="buttons" style="text-align: left;">
    <%= form.submit t('key.btn.move') %>
    <%= link_to t('button_cancel'), keys_all_path, class: 'button' %>
  </div>
<% end %>
