<% content_for :header_tags do %>
  <%= javascript_include_tag "zeroclipboard" %>
  <%= stylesheet_link_tag "font-awesome.css", :plugin => "vault" %>
  <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
  <%= stylesheet_link_tag 'vault', :plugin => 'vault' %>
<% end %>

<div class="contextual">
 <%= link_to t('key.btn.new'), new_project_key_path(@project), class: 'icon icon-add' if User.current.allowed_to?(:view_keys, @project) if User.current.allowed_to?(:edit_keys, @project) %>
</div>

<h2>
<%= t('key.title.list') %>
<%= form_tag({ controller: :keys, action: :index }, method: 'get') do %>
  <%= text_field_tag(:query, @query, class: 'autocomplete') %>

      <font size="2">
      <%= radio_button_tag(:search_fild, "name", @search_fild == 'name' ? true : false ) %>
      <%= label_tag(:name, t('key.attr.name')) %>

      <%= radio_button_tag(:search_fild, "url", @search_fild == 'url' ? true : false ) %>
      <%= label_tag(:url, t('key.attr.url')) %>

      <%= radio_button_tag(:search_fild, "tag", @search_fild == 'tag' ? true : false ) %>
      <%= label_tag(:tag, t('key.attr.tags')) %>
      </font>

  <%= submit_tag(t('button_update')) %>
<% end %>
<%= button_to(t('button_clear'), {query: ''}, method: 'get') %>
</h2>

<%= form_tag({}) do %>
<table class='list' id='keys_table'>
  <thead><tr>
    <th class="checkbox hide-when-print">
       <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
             :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
    </th>
    <%= sort_header_tag('name', caption: t('key.attr.name')) %>
    <th><%= t('key.attr.url') %></th>
    <th><%= t('key.attr.login') %></th>
    <th><%= t('key.attr.body') %> </th>
    <th><%= t('key.btn.actions') %></th>
  </tr></thead>
  <tbody>
    <% @keys.each do |key| %>
      <%= render partial: key, locals: {parity: cycle('odd', 'even')} %>
    <% end %>
  </tbody>
</table>
<% end %>

<% if Redmine::VERSION.to_s.start_with?('3.3')  %>
    <span class='pagination'><%= pagination_links_full @key_pages, @key_count %></span>
<% elsif Redmine::VERSION.to_s.start_with?('3.2') %>
    <span class='pagination'><%= pagination_links_full @key_pages, @key_count %></span>
<% elsif Redmine::VERSION.to_s.start_with?('3.1') %>
    <span class='pagination'><%= pagination_links_full @key_pages, @key_count %></span>
<% else %>
    <span class='pagination'><%= pagination_links_full @key_pages, @key_count %></span>
<% end %>

<% other_formats_links do |f| %>
    <%= f.link_to t('export.title.pdf'), :url => params if User.current.allowed_to?(:view_keys, @project) if User.current.allowed_to?(:export_keys, @project)%>
<% end %>

<% content_for :sidebar do %>
  <h3><%= t('tag.title.popular') %></h3>
  <div id='tags-list'>
    <ul>
      <% Vault::Tag.cloud_for_project(@project.id).each do |t| %>
        <li><%= link_to t, {query: "##{t}"} %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<script>
  $(document).ready(function() {
  <% @keys.each do |key| %>
    var pass_clip_<%=key.id%> = new ZeroClipboard($("#d_clip_button_pass<%=key.id%>"));
    var url_clip_<%=key.id%> = new ZeroClipboard($("#d_clip_url_<%=key.id%>"));
    var login_clip_<%=key.id%> = new ZeroClipboard($("#d_clip_login_<%=key.id%>"));
    $("#plain_pass_<%=key.id%>").hide();
    $("#plain_pass_<%=key.id%>").after("<label id='hid_pass_<%=key.id%>'>******</label>");
    $("#plain_pass_<%=key.id%>").on("click", function(){
      $("#hid_pass_<%=key.id%>").show();
      $("#plain_pass_<%=key.id%>").hide();
    });
    $("#hid_pass_<%=key.id%>").on("click", function(){
      $("#plain_pass_<%=key.id%>").show();
      $("#hid_pass_<%=key.id%>").hide();
    });

    $("#d_clip_login_<%=key.id%>").on("click", function(){
        $("#d_clip_login_<%=key.id%>").css({'color':'green'});
        setTimeout(function() {
            $("#d_clip_login_<%=key.id%>").css({'color':'#484848'});
        },500);
    });

    $("#d_clip_button_pass<%=key.id%>").on("click", function(){
        $("#d_clip_button_pass<%=key.id%>").css({'color':'green'});
        setTimeout(function() {
            $("#d_clip_button_pass<%=key.id%>").css({'color':'#888'});
        },500);
    });

    $("#d_clip_url_<%=key.id%>").on("click", function(){
        $("#d_clip_url_<%=key.id%>").css({'color':'green'});
        setTimeout(function() {
            $("#d_clip_url_<%=key.id%>").css({'color':'#484848'});
        },500);
    });

  <% end %>
  });
</script>

<% if Redmine::VERSION.to_s.start_with?('3.4')  %>
    <%= context_menu %>
<% else %>
    <%= context_menu project_keys_context_menus_path(@project) %>
<% end %>

<script type="text/javascript">
  $('a[href^="http://"]').attr('target','_blank');
  $('a[href^="https://"]').attr('target','_blank');
</script>
