<% filtered_params = params.respond_to?(:to_unsafe_hash) ? params.to_unsafe_hash : params %>
<% html_title(@query.new_record? ? t('label_module') : @query.name) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
  <%= javascript_include_tag 'vault', :plugin => 'vault' %>
<% end %>

<div class="contextual">
  <%= link_to_if_authorized t('key.btn.new'), { :controller => 'keys', :action => 'new', :project_id => @project }, :class => 'icon icon-add' %>
</div>

<%= form_tag({ :controller => 'keys', :action => 'index', :project_id => @project }, :method => :get, :id => 'query_form') do %>
  <script type="text/javascript">
    jQuery(function($) {
      $("#search").observe_field(2, function() {
        var form = $("#query_form");
        var url = form.attr("action");
        form.find('[name="c[]"] option').each(function(i, elem) {
          $(elem).attr('selected', true).prop('selected', true);
        });
        var formData = form.serialize();
        form.find('[name="c[]"] option').each(function(i, elem) {
          $(elem).attr('selected', false).prop('selected', false);
        });
        $.get(url, formData, function(data) {
          $("#key_list").html(data);
        });
      });
    });
  </script>

  <h2 class="keys-search-title">
    <%= @query.new_record? ? t('label_module') : h(@query.name) %>
    <span class="live_search">
      <%= text_field_tag(:search, @search, :autocomplete => 'off', :id => 'search', :class => 'live_search_field', :placeholder => t('key.btn.find')) %>
    </span>
  </h2>

  <%= hidden_field_tag 'set_filter', '1' %>

  <div id="query_form_with_buttons" class="hide-when-print">
    <div id="query_form_content">
      <fieldset id="filters" class="collapsible <%= @query.new_record? ? '' : 'collapsed' %>">
        <legend onclick="toggleFieldset(this);" class="icon icon-<%= @query.new_record? ? 'expanded' : 'collapsed' %>">
          <%= l(:label_filter_plural) %>
        </legend>
        <div style="<%= @query.new_record? ? '' : 'display: none;' %>">
          <%= render :partial => 'queries/filters', :locals => { :query => @query } %>
        </div>
      </fieldset>

      <fieldset id="options" class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= l(:label_options) %></legend>
        <div class="hidden">
          <div id="list-definition">
            <div>
              <div class="field"><%= l(:field_column_names) %></div>
              <%= render_query_columns_selection(@query) %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <p class="buttons hide-when-print">
      <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
      <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload' %>
    </p>
  </div>
<% end %>

<%= error_messages_for 'query' %>
<% if @query.valid? %>
  <div id="key_list">
    <% if @keys.blank? %>
      <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
      <%= render partial: 'list' %>
      <span class="pagination"><%= pagination_links_full @key_pages, @key_count %></span>
    <% end %>
  </div>

  <% other_formats_links do |f| %>
    <%= f.link_to_with_query_parameters t('export.title.pdf') if User.current.allowed_to?(:view_keys, @project) && User.current.allowed_to?(:export_keys, @project) %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <h3><%= t('tag.title.popular') %></h3>
  <div id='tags-list'>
    <ul>
      <% Vault::Tag.cloud_for_project(@project.id).each do |t| %>
        <li class='vault-tag' style='background-color: <%= Vault::Tag.get_color(t) %>;'>
          <%= link_to t, { search: "##{t}" }, class: 'vault-tag-link' %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<script type="text/javascript">
  $('a[href^="http://"]').attr('target','_blank');
  $('a[href^="https://"]').attr('target','_blank');

  // Copy to clipboard functionality
  document.body.addEventListener('click', function(e) {
    var copyBtn = e.target.closest('a.copy-key');
    if (copyBtn) {
      e.preventDefault();
      var copytarget = copyBtn.dataset.clipboardTarget;
      var inp = copytarget ? document.getElementById(copytarget) : null;
      if (inp && inp.value) {
        try {
          inp.select();
          inp.setSelectionRange(0, inp.value.length);
          document.execCommand('copy');
          inp.blur();
        } catch (err) {
          console.error('Copy failed:', err);
        }
      }
    }
  }, true);
</script>
