<% content_for :header_tags do %>
  <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
  <%= javascript_include_tag 'vault', :plugin => 'vault' %>
<% end %>

<% html_title @key.name %>

<div class="contextual">
  <%= link_to sprite_icon('edit', l(:button_edit)), edit_project_key_path(@project, @key), :class => 'icon icon-edit' if User.current.allowed_to?(:edit_keys, @project) %>
  <%= link_to sprite_icon('del', l(:button_delete)), project_key_path(@project, @key), :data => { :confirm => t('confirm.key.delete') }, :method => :delete, :class => 'icon icon-del' if User.current.allowed_to?(:edit_keys, @project) %>
</div>

<h2><%= "#{t('key.title.show')} ##{@key.id}" %></h2>

<div class="key issue details">
  <table class="subject_header">
    <tr>
      <td class="name" style="vertical-align: top;">
        <h3><%= h @key.name %></h3>
        <p class="author">
          <%= l(:label_updated_time, :value => time_tag(@key.updated_at || @key.created_at)).html_safe %>
        </p>
        <% if @key.tags.any? %>
          <div class="tags">
            <% @key.tags.each do |tag| %>
              <%= link_to tag.name, project_keys_path(@project, :search => "##{tag.name}"), :class => 'tag-label-color', :style => "background-color: #{tag.color}; color: #fff; border-radius: 3px; padding: 2px 6px;" %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>

  <div class="box tabular">
    <p>
        <label><%= t('key.attr.type') %></label>
        <%= t('key.attr.type') %>: <%= @key.type.demodulize %>
    </p>

    <% if @key.url.present? %>
      <p>
        <label><%= t('key.attr.url') %></label>
        <%= link_to @key.url, @key.url, :target => '_blank' %>
        <input type="text" id="copy_url_<%= @key.id %>" value="<%= @key.url %>" style="position:absolute;left:-9999px;" readonly />
        <a class="keys-actions copy-key" data-clipboard-target="copy_url_<%= @key.id %>" title="<%= t('key.btn.clipboard') %>" style="cursor:pointer;">
          <i class="fa fa-clipboard fa-fw"></i>
        </a>
      </p>
    <% end %>

    <% if @key.login.present? %>
      <p>
        <label><%= t('key.attr.login') %></label>
        <%= h @key.login %>
        <input type="text" id="copy_login_<%= @key.id %>" value="<%= @key.login %>" style="position:absolute;left:-9999px;" readonly />
        <a class="keys-actions copy-key" data-clipboard-target="copy_login_<%= @key.id %>" title="<%= t('key.btn.clipboard') %>" style="cursor:pointer;">
          <i class="fa fa-clipboard fa-fw"></i>
        </a>
      </p>
    <% end %>

    <% if @key.body.present? %>
      <p>
        <label><%= t('key.attr.body') %></label>
        <span>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
        <input type="text" id="copy_body_<%= @key.id %>" value="<%= @key.body %>" style="position:absolute;left:-9999px;" readonly />
        <a class="keys-actions copy-key" data-clipboard-target="copy_body_<%= @key.id %>" title="<%= t('key.btn.clipboard') %>" style="cursor:pointer;">
          <i class="fa fa-clipboard fa-fw"></i>
        </a>
      </p>
    <% end %>

    <% if (@key.type == 'Vault::KeyFile' || @key.type == 'Vault::Sftp') && @key.file.present? %>
      <p>
        <label><%= t('key.attr.file') %></label>
        <%= link_to @key.name, "/projects/#{@project.identifier}/keys/#{@key.id}/download" %>
        <% file_path = File.join(Vault::KEYFILES_DIR, @key.file) %>
        <% if File.exist?(file_path) %>
          (<%= number_to_human_size(File.size(file_path)) %>)
        <% end %>
      </p>
    <% end %>

    <% if @key.created_at %>
      <p>
        <label><%= t('key.attr.created_at') %></label>
        <%= format_time(@key.created_at) %>
      </p>
    <% end %>

    <% if @key.updated_at && @key.updated_at != @key.created_at %>
      <p>
        <label><%= t('key.attr.updated_at') %></label>
        <%= format_time(@key.updated_at) %>
      </p>
    <% end %>
  </div>

  <% if @key.comment.present? %>
    <hr />
    <p><strong><%= t('key.attr.comment') %></strong></p>
    <div class="wiki"><%= simple_format(h(@key.comment)) %></div>
  <% end %>
</div>

<p><%= link_to sprite_icon('reload', l(:button_back)), project_keys_path(@project), :class => 'icon icon-reload' %></p>

<% content_for :sidebar do %>
  <%= render 'audit_log' %>
<% end %>

<script>
  document.body.addEventListener('click', function(e) {
    var copyBtn = e.target.closest('a.copy-key');
    if (!copyBtn) { return; }

    e.preventDefault();
    var targetId = copyBtn.dataset.clipboardTarget;
    var inp = targetId ? document.getElementById(targetId) : null;
    if (!inp || !inp.value) { return; }

    try {
      inp.select();
      inp.setSelectionRange(0, inp.value.length);
      document.execCommand('copy');
      inp.blur();
    } catch (err) {
      if (navigator.clipboard) {
        navigator.clipboard.writeText(inp.value);
      }
    }
  }, true);
</script>
