<% content_for :header_tags do %>
  <%= stylesheet_link_tag "font-awesome.css", :plugin => "vault" %>
  <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
  <%= javascript_include_tag 'vault', :plugin => 'vault' %>
<% end %>

<h1> <%= t('key.title.show') %> </h1>

<%= render @key %>

<%= link_to 'Back', project_keys_path(@project) %>
