<td> <%= link_to key.name, edit_project_key_path(@project, key), class: 'keys-links' %></td>
<td>
  <% unless key.url.blank? %>
    <% if /:\/\//.match(key.url) %>
      <%= link_to "#{key.url}", key.url, id: "url_#{key.id}"%>
    <% else %>
      <%= label_tag key.url, key.url, id: "url_#{key.id}" %>
    <% end %>
  <% end %>
</td>
<td>
  <% unless key.login.blank? %>
  <label id="login_<%=key.id%>"><%= key.login %></label>
  <% end %>
</td>
