<td>
  <% if key.project.nil? %>
    <span style="color: #999; text-decoration: line-through;">
      <%= t('key.project_not_exist', id: key.project_id) %>
    </span>
    <span style="color: #d9534f; font-weight: bold;"> (✗)</span>
  <% else %>
    <%= link_to key.project.name, project_keys_path(key.project), class: 'keys-links' %>
  <% end %>
</td>
<td>
    <label id="type_<%=key.id%>" class='keys-links'>
        <% if key.type == 'Vault::Password' %>
            <% if key.project.nil? %>
                <span style="color: #999; text-decoration: line-through;">
                    <%= t('activerecord.models.password') %>
                </span>
            <% else %>
                <%= t('activerecord.models.password') %>
            <% end %>
        <% elsif key.type == 'Vault::Sftp' %>
            <% if key.project.nil? %>
                <span style="color: #999; text-decoration: line-through;">
                    <%= t('activerecord.models.sftp') %>
                </span>
            <% else %>
                <%= t('activerecord.models.sftp') %>
            <% end %>
        <% elsif key.type == 'Vault::KeyFile' %>
            <% if key.project.nil? %>
                <span style="color: #999; text-decoration: line-through;">
                    <%= t('activerecord.models.key_file') %>
                </span>
            <% else %>
                <%= t('activerecord.models.key_file') %>
            <% end %>
        <% else %>
            Unknown
        <% end %>
    </label>
</td>
<td>
  <% if key.project.nil? %>
    <span style="color: #999; text-decoration: line-through;">
      <%= key.name %>
    </span>
  <% else %>
    <%= link_to key.name, edit_project_key_path(key.project, key), class: 'keys-links' %>
  <% end %>
</td>
<td>
  <% unless key.url.blank? %>
    <% if /:\/\//.match(key.url) %>
      <%= link_to "#{key.url}", key.url, id: "url_#{key.id}"%>
    <% else %>
      <a align="left" class='keys-links' data-clipboard-target='url_<%=key.id%>' id='d_clip_url_<%=key.id%>'>
        <%= label_tag key.url, key.url, id: "url_#{key.id}" %>
      </a>
    <% end %>
  <% end %>
</td>
<td>
  <% unless key.login.blank? %>
    <span class='login-wrapper'>
        <a class='keys-actions copy-key' data-clipboard-target='login_<%=key.id%>' id='d_clip_login_<%=key.id%>' title='<%=t('key.btn.clipboard')%>'>

          <i class="fa fa-clipboard fa-fw" ></i>
        </a>
        <label id="login_<%=key.id%>" class='keys-links'><%= key.login %></label>
    </span>
  <% end %>
</td>
