<td> <%= link_to key.name, edit_project_key_path(@project, key), class: 'keys-links' %></td>
<td>
  <% unless key.url.blank? %>
    <% if /:\/\//.match(key.url) %>
      <%= link_to "#{key.url}", key.url, id: "url_#{key.id}"%>
    <% else %>
      <a align="left" class='keys-links' data-clipboard-target='url_<%=key.id%>' id='d_clip_url_<%=key.id%>'>
        <%= label_tag key.url, key.url, id: "url_#{key.id}" %>
      </a>
    <% end %>
  <% end %>
</td>
<td>
  <% unless key.login.blank? %>
    <a align="left" class='keys-links' data-clipboard-target='login_<%=key.id%>' id='d_clip_login_<%=key.id%>'>
      <label id="login_<%=key.id%>"><%= key.login %></label>
    </a>
  <% end %>
</td>


