<% if key.project.nil? %>
    <!-- Orphaned key - project was deleted -->
    <% if User.current.admin? %>
      <%= link_to edit_orphaned_key_path(key), class: 'keys-actions', title: t('key.btn.move') do %>
        <i class='fa fa-arrow-right fa-fw'></i>
      <% end %>

      <%= link_to orphaned_key_path(key), class: 'keys-actions', title: t('button_delete'), data: {confirm: t('confirm.key.delete')}, method: :delete do %>
        <i class='fa fa-trash fa-fw'></i>
      <% end %>
    <% else %>
      <span class='keys-actions' title='<%= t("key.project_deleted") %>' style='color: #ccc;'>
        <i class='fa fa-unlink fa-fw'></i>
      </span>
    <% end %>
<% elsif User.current.allowed_to?(:edit_keys, key.project) %>
    <%= link_to project_key_path(key.project,key), class: 'keys-actions', title: t('button_view') do %>
      <i class='fa fa-eye fa-fw'></i>
    <% end %>

    <%= link_to edit_project_key_path(key.project,key), class: 'keys-actions', title: t('button_edit') do %>
      <i class='fa fa-pencil fa-fw'></i>
    <% end %>

    <%= link_to project_copy_key_path(key.project,key), class: 'keys-actions', title: t('key.title.copy') do %>
      <i class='fa fa-files-o fa-fw'></i>
    <% end %>

    <%= link_to project_key_path(key.project,key), class: 'keys-actions', title: t('button_delete'), data: {confirm: t('confirm.key.delete')}, method: :delete do %>
      <i class='fa fa-trash fa-fw'></i>
    <% end %>
<% else %>
    <%= link_to project_key_path(key.project,key), class: 'keys-actions', title: t('button_view') do %>
      <i class='fa fa-eye fa-fw'></i>
    <% end %>
<% end %>
