<td>
  <% if key.project.nil? %>
    <span style="color: #999; text-decoration: line-through;">
      <%= t('key.project_not_exist', id: key.project_id) %>
    </span>
    <span style="color: #d9534f; font-weight: bold;"> (✗)</span>
  <% else %>
    <%= link_to key.project.name, project_keys_path(key.project), class: 'keys-links' %>
  <% end %>
</td>
<td>
    <label id="type_<%=key.id%>" class='keys-links'>
        <% if key.type == 'Vault::Password' %>
            <% if key.project.nil? %>
                <span style="color: #999; text-decoration: line-through;">
                    <%= t('activerecord.models.password') %>
                </span>
            <% else %>
                <%= t('activerecord.models.password') %>
            <% end %>
        <% elsif key.type == 'Vault::Sftp' %>
            <% if key.project.nil? %>
                <span style="color: #999; text-decoration: line-through;">
                    <%= t('activerecord.models.sftp') %>
                </span>
            <% else %>
                <%= t('activerecord.models.sftp') %>
            <% end %>
        <% elsif key.type == 'Vault::KeyFile' %>
            <% if key.project.nil? %>
                <span style="color: #999; text-decoration: line-through;">
                    <%= t('activerecord.models.key_file') %>
                </span>
            <% else %>
                <%= t('activerecord.models.key_file') %>
            <% end %>
        <% else %>
            Unknown
        <% end %>
    </label>
</td>
<td>
  <% if key.project.nil? %>
    <span style="color: #999; text-decoration: line-through;">
      <%= key.name %>
    </span>
  <% else %>
    <%= link_to key.name, edit_project_key_path(key.project, key), class: 'keys-links' %>
  <% end %>
</td>
<td>
  <% unless key.url.blank? %>
    <span class='url-wrapper'>
      <a class='keys-actions copy-key' data-clipboard-target='copy_url_<%=key.id%>' title='<%=t('key.btn.clipboard')%>'>
        <i class="fa fa-clipboard fa-fw"></i>
      </a>
      <% if /:\/\//.match(key.url) %>
        <%= link_to "#{key.url}", key.url, class: 'keys-links'%>
      <% else %>
        <label class='keys-links'><%= key.url %></label>
      <% end %>
      <input style="position: absolute; left: -9999px; top: -9999px;" type="text" id="copy_url_<%=key.id%>" value="<%=key.url%>" readonly />
    </span>
  <% end %>
</td>
<td>
  <% unless key.login.blank? %>
    <span class='login-wrapper'>
        <a class='keys-actions copy-key' data-clipboard-target='copy_login_<%=key.id%>' title='<%=t('key.btn.clipboard')%>'>
          <i class="fa fa-clipboard fa-fw" ></i>
        </a>
        <label class='keys-links'><%= key.login %></label>
        <input style="position: absolute; left: -9999px; top: -9999px;" type="text" id="copy_login_<%=key.id%>" value="<%=key.login%>" readonly />
    </span>
  <% end %>
</td>
