<tr class='key <%= defined?(parity) ? parity : '' %>' style='cursor:pointer;' onclick="window.location='<%= password.project ? project_key_path(password.project, password) : '#' %>'">
  <td class='checkbox hide-when-print' onclick='event.stopPropagation()'>
    <%= check_box_tag('ids[]', password.id, false, id: nil) %>
  </td>
  <%= render partial: 'shared/key_fields', locals: {key: password} %>
  <td class='buttons' onclick='event.stopPropagation()'>
    <%= render partial: 'shared/key_actions', locals: {key: password} %>
  </td>
</tr>
