<tr class='key <%= defined?(parity) ? parity : '' %>' data-project-id='<%= password.project_id %>' data-key-type='Vault::Password'>
  <td class='checkbox hide-when-print'>
    <%= check_box_tag('ids[]', password.id, false, id: nil) %>
  </td>
  <%= render partial: 'shared/key_fields_all', locals: {key: password} %>
  <td class='key-password-column'>
    <% unless password.body.blank? %>
      <a class='keys-actions copy-key' data-clipboard-target='copy_body_<%=password.id%>' title='<%=t('key.btn.clipboard')%>'>
        <i class="fa fa-clipboard fa-fw"></i>
      </a>
      <input style="position: absolute; left: -9999px; top: -9999px;" type="text" id="copy_body_<%=password.id%>" value="<%=password.body ? password.body.force_encoding('UTF-8') : ''%>" readonly />
    <% end %>
  </td>
  <td class='buttons'>
    <%= render partial: 'shared/key_actions', locals: {key: password} %>
  </td>
</tr>
