<tr class='hascontextmenu key <%= defined?(parity) ? parity : '' %>'>
  <td class='checkbox hide-when-print'>
    <%= check_box_tag('ids[]', password.id, false, id: nil) %>
  </td>
  <%= render partial: 'shared/key_fields', locals: {key: password} %>
  <td class='key-password-column'>
    <% unless password.body.blank? %>

      <label>*********</label>
      <label id='plain_pass_<%=password.id%>' style='display:none;'><%= password.body.force_encoding('UTF-8') %></label>

      <a align="left" class='keys-actions copy-key' data-clipboard-target='plain_pass_<%=password.id%>' title='<%=t('key.btn.clipboard')%>'>
        <i class="fa fa-clipboard fa-fw"></i>
      </a>

    <% end %>
  </td>
  <td class='buttons'>
    <%= render partial: 'shared/key_actions', locals: {key: password} %>
  </td>
</tr>
