<tr class='hascontextmenu file <%= defined?(parity) ? parity : '' %>'>
  <td class='checkbox hide-when-print'>
    <%= check_box_tag('ids[]', password.id, false, id: nil) %>
  </td>
  <%= render partial: 'shared/key_fields', locals: {key: password} %>
  <td>
    <% unless password.body.blank? %>
    <label id='plain_pass_<%=password.id%>'><%= password.body %></label>
    <a align="left" class='keys-actions' data-clipboard-target='plain_pass_<%=password.id%>' id='d_clip_button_pass<%=password.id%>' title='<%=t('key.btn.clipboard')%>'><i class="fa fa-clipboard fa-fw"></i></a>
    <% end %>
  </td>
  <td class='buttons'>
    <%= render partial: 'shared/key_actions', locals: {key: password} %>
  </td>
</tr>
