<h2>Tags</h2>

<table>
  <thead>
  <tr>
    <th style="text-align: left;">Name</th>
    <th style="text-align: left;">Color</th>
    <th style="text-align: left;"></th>
  </tr>
  </thead>
  <tbody>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name %></td>
      <td>
        <%= form_with(model: [@project, @key, tag], local: true, url: project_key_tag_path(@project, @key, tag)) do |form| %>
          <div style="display: flex; align-items: center;">
            <div style="width: 50px; height: 20px; background-color: <%= tag.color %>; margin-right: 10px;"></div>
            <%= form.text_field :color, value: tag.color, name: 'tag[color]' %>
            <%= form.submit 'Update', style: 'margin-left: 10px;' %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>