<h2><%= t('settings.title') %></h2>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag "font-awesome.css", :plugin => "vault" %>
    <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
    <%= javascript_include_tag 'vault', :plugin => 'vault' %>
<% end %>

<div id="settings">
  <%= form_tag({:action => :save}) do %>
      <div class="box tabular settings">
        <table>
          <tbody>
          <tr>
            <th><%= t('settings.vault_title_encription_key') %></th>
            <td>
              <div style="display: flex; gap: 10px; align-items: center;">
                <input type="text" id="settings_encryption_key" value="<%= Setting.plugin_vault['encryption_key'] %>" name="settings[encryption_key]" style="flex: 1;">
                <button type="button" class="btn btn-small" id="generate_key_btn" onclick="generateEncryptionKey();">
                  <i class='fa fa-refresh fa-fw'></i> Generate
                </button>
              </div>
              <%= t('settings.vault_encription_notice') %>
            </td>
          </tr>
          <tr>
            <th><%= t('settings.redmine_title_encription_key') %></th>
            <td>
              <%= check_box_tag('settings[use_redmine_encryption]',Setting.plugin_vault['use_redmine_encryption'], Setting.plugin_vault['use_redmine_encryption']) %>
              <div style="font-size: 12px; color: #333; margin-top: 5px; line-height: 1.5; display: inline-block; margin-left: 5px;">
                <%= t('settings.redmine_encryption_notice') %>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <%= submit_tag l(:button_apply) %>
  <% end %>
</div>
</br>
<div id="settings">
  <div class="box tabular settings">
    <table>
      <tr>
        <th style="text-align:left"> <%= t('backups.title') %> </th>
        <th style="text-align:right"> <%= button_to(t('backups.btn.download_backup'), :action => :backup)%> </th>
      </tr>

      <tr>
        <th style="text-align:left"> <%= t('backups.title_restore') %> </th>
        <th style="text-align:right">
          <%= form_tag({:action => :restore}, method: 'post',multipart: true) do %>
              <%= file_field_tag :file %>
            <%= submit_tag(t('backups.btn.upload_backup')) %>
          <% end %>
        </th>
      </tr>
    </table>
  </div>
</div>

<script type="text/javascript">
function generateEncryptionKey() {
  const keyField = document.getElementById('settings_encryption_key');
  const currentKey = keyField.value.trim();

  // If field is not empty, ask for confirmation
  if (currentKey !== '') {
    if (!confirm('Are you sure you want to regenerate the encryption key? This will replace the current key.')) {
      return;
    }
  }

  // Generate random 16-character key
  const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
  let key = '';
  for (let i = 0; i < 16; i++) {
    key += chars.charAt(Math.floor(Math.random() * chars.length));
  }
  keyField.value = key;
}
</script>
