
<h2><%= l(:label_vault_settings) %></h2>


<% content_for :header_tags do %>
    <%#= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "font-awesome.css", :plugin => "vault" %>
    <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
    <%= stylesheet_link_tag 'vault', :plugin => 'vault' %>
<% end %>

<table style="border:1px solid #628DB6;">
  <tr>
    <th style="text-align:left"> Backup keys </th>
    <th style="text-align:right"> <%= button_to(t('btn.download_backup'), :action => :backup)%> </th>
  </tr>

  <tr>
    <th style="text-align:left"> Restore from backup </th>
    <th style="text-align:right">
      <%= form_tag({:action => :restore}, method: 'post',multipart: true) do %>
          <%= file_field_tag :file %>
        <%= submit_tag(t('btn.upload_backup')) %>
      <% end %>
    </th>
  </tr>
</table>