
<h2><%= l(:label_vault_settings) %></h2>


<% content_for :header_tags do %>
    <%#= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "font-awesome.css", :plugin => "vault" %>
    <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
    <%= stylesheet_link_tag 'vault', :plugin => 'vault' %>
<% end %>

<div id="settings">
  <%= form_tag({:action => :save}) do %>
      <div class="box tabular settings">
        <table>
          <tbody>
          <tr>
            <th>Encryption key</th>
            <td>
              <input type="text" id="settings_encryption_key" value="<%= Setting.plugin_vault['encryption_key'] %>" name="settings[encryption_key]" >
              <%= t('settings.key_notice') %>
            </td>
          </tr>
          <tr>
            <th>Use Redmine Encryption</th>
            <td>
              <%= check_box_tag('settings[use_redmine_encryption]',Setting.plugin_vault['use_redmine_encryption'], Setting.plugin_vault['use_redmine_encryption']) %>
              <%= t('settings.redmine_encryption_notice') %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <%= submit_tag l(:button_apply) %>
  <% end %>
</div>
</br>
<div id="settings">
  <div class="box tabular settings">
    <table>
      <tr>
        <th style="text-align:left"> Backup keys </th>
        <th style="text-align:right"> <%= button_to(t('btn.download_backup'), :action => :backup)%> </th>
      </tr>

      <tr>
        <th style="text-align:left"> Restore from backup </th>
        <th style="text-align:right">
          <%= form_tag({:action => :restore}, method: 'post',multipart: true) do %>
              <%= file_field_tag :file %>
            <%= submit_tag(t('btn.upload_backup')) %>
          <% end %>
        </th>
      </tr>
    </table>
  </div>
</div>
