<tr class='key <%= defined?(parity) ? parity : '' %>' data-project-id='<%= sftp.project_id %>' data-key-type='Vault::Sftp'>
  <td class='checkbox hide-when-print'>
    <%= check_box_tag('ids[]', sftp.id, false, id: nil) %>
  </td>
  <%= render partial: 'shared/key_fields_all', locals: {key: sftp} %>
  <td class='key-password-column'>
    <% unless sftp.body.blank? %>

      <a class='keys-actions copy-key' data-clipboard-target='plain_pass_<%=sftp.id%>' title='<%=t('key.btn.clipboard')%>'>
        <i class="fa fa-clipboard fa-fw"></i>
      </a>
      <label>*********</label>
      <label id='plain_pass_<%=sftp.id%>' style='display:none;'><%= sftp.body.force_encoding('UTF-8') %></label>

    <% end %>
  </td>
  <td class='buttons'>
    <%= render partial: 'shared/key_actions', locals: {key: sftp} %>
  </td>
</tr>
