<tr class='key <%= defined?(parity) ? parity : '' %>' data-project-id='<%= sftp.project_id %>' data-key-type='Vault::Sftp'>
  <td class='checkbox hide-when-print'>
    <%= check_box_tag('ids[]', sftp.id, false, id: nil) %>
  </td>
  <%= render partial: 'shared/key_fields_all', locals: {key: sftp} %>
  <td class='key-password-column'>
    <% if sftp.file.present? && !sftp.project.nil? %>
      <%= link_to "/projects/#{sftp.project.identifier}/keys/#{sftp.id}/download", class: 'keys-actions', title: "Download file" do %>
        <i class='fa fa-download fa-fw'></i>
      <% end %>
    <% end %>
    <% unless sftp.body.blank? %>
      <a class='keys-actions copy-key' data-clipboard-target='copy_body_<%=sftp.id%>' title='<%=t('key.btn.clipboard')%>'>
        <i class="fa fa-clipboard fa-fw"></i>
      </a>
      <input style="position: absolute; left: -9999px; top: -9999px;" type="text" id="copy_body_<%=sftp.id%>" value="<%=sftp.body ? sftp.body.force_encoding('UTF-8') : ''%>" readonly />
    <% end %>
  </td>
  <td class='buttons'>
    <%= render partial: 'shared/key_actions', locals: {key: sftp} %>
  </td>
</tr>
